<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize/css/materialize.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="../css/materialize/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="icon" type="image/png" href="/images/ED.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Watched</title>
</head>

<body class="grey lighten-3">

<!--Bandeau sup -->

<! contenu du dropdown-->
<ul id="dropdown1" class="dropdown-content">
  <li><a id="dropdown_profil" href="/profile"><img id="dropdown_profil_img" src="images/essai_profil.jpg" class="circle left">Profil</a></li>
  <li class="divider"></li>
  <li><a href="#!"><i class="material-icons right">clear</i></i>Déconnexion</a></li>
</ul>

<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper row red darken-1">
        <a href="/" class="brand-logo"><img src="/images/watchED.png" class="logo hide-on-med-and-down"></a>
        <a href="/" class="brand-logo"><img src="/images/watchED.png" class="logo-tab hide-on-large-only hide-on-small-only"></a>
        <a href="/" class="brand-logo"><img src="/images/watchED.png" class="logo-mobile hide-on-med-and-up"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">

            <li><a href="/search"><i class="material-icons">search</i></a></li>
			{% if true %}
				<li><a href="/signin">Connexion</a></li>
				<li><a href="/signup">Inscription</a></li>
			{% else %}
				<!--<li class="active"><a href="/profile"><img src="http://www.assuropoil.fr/wp-content/uploads/assurance-chat-assurer-son-chat.jpg" width="50px" class="circle left">Profil</a></li>
				<li><a href="#"><i class="material-icons right">clear</i>Déconnexion</a></li>-->
				
				<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Bonjour {nom à spécifier}<i class="material-icons right">arrow_drop_down</i></a></li>
			{% endif %}
			

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Accueil</a></li>
            <li><a href="/search">Rechercher</a></li>
            <li><a href="/signin">Connexion</a></li>
            <li><a href="/signup">Inscription</a></li>
        </ul>
    </div>
</nav>
</div>
<main>