<h3 class="m2 offset-m6">Suggestions</h3>
<div class="row">
    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">En savoir plus</span></a>
                <a class="btn-floating waves-effect waves-light red offset-s11"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">En savoir plus</span></a>
                <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">En savoir plus</span></a>
                <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">En savoir plus</span></a>
                <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>