<div class="row"></div>
<div class="row sous-titre">
    <div class="card-panel col s12 m12 ">
        <h5><i class="material-icons red-text">trending_up</i> Tendances</h5>
    </div>
</div>
<div class="row">

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="btn disabled"><i class="material-icons left">done</i>Ajoutée</a>
            </div>
        </div>
    </div>
</div>

<div class="row sous-titre">
    <div class="card-panel col s12 m12 ">
        <h5><i class="material-icons red-text">new_releases</i> Nouveautés</h5>
    </div>
</div>
<div class="row">

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="btn disabled"><i class="material-icons left">done</i>Ajoutée</a>
            </div>
        </div>
    </div>
</div>

<div class="row sous-titre">
    <div class="card-panel col s12 m12 ">
        <h5><i class="material-icons red-text">subscriptions</i> Recommandations</h5>
    </div>
</div>
<div class="row">

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium hoverable">
            <div class="card-image">
                <img class="responsive-img" src="images/Breaking_Bad_title_card.png">
                <span class="card-title">Breaking Bad</span>
            </div>
            <div class="card-content">
                <p>Un professeur de chimie atteint d'un cancer s'associe à un ancien élève pour fabriquer et vendre
                    de
                    la méthamphétamine afin de s'assurer l'avenir financier de sa famille.</p>
            </div>
            <div class="card-action">
                <a href="#"><span class="red-text text-darken-1">Explorer</span></a>
                <a class="btn disabled"><i class="material-icons left">done</i>Ajoutée</a>
            </div>
        </div>
    </div>
</div>

</div>

</div>