<div class="container"> <!-- Contient toute la page. -->
    <div class="row"> <!-- Contient une ligne. -->
            <div class="card-panel col s12 m12 l12" class="valign-wrapper"> <!-- Une boîte pour le titre, centrée verticalement -->
                <h5 class="center-align">Votre profil</h5>
            </div>
            <div class="card panel col s12 m12 l1é" class="valign-wrapper"> <!-- Et une boîte pour les informations personnelles -->
              <div class="card-image"> <!-- La photo de profil -->
                <img src="../public/images/essai_profil.jpg"/>
              </div>

            </div>
        </div>

</div>