<div class="container"> <!-- Contient toute la page. -->
    <div class="row"> <!-- Contient une ligne. -->
            <div class="card-panel col s12 m12 l12" class="valign-wrapper"> <!-- Une boîte pour le titre, centrée verticalement -->
                <h5 class="center-align">Votre profil</h5>
            </div>
            <div class="card horizontal col s12 m12 l12" class="valign-wrapper"> <!-- Et une boîte pour les informations personnelles -->
              <div class="card-image valign-wrapper"> <!-- La photo de profil -->
                <img src="images/essai_profil.jpg"  alt="" class="circle responsive-img" > <!-- C'est pour que l'image soit ronde, la classe. -->
              </div>
              <div class="card-content"> <!-- Le contenu de la carte. -->
                <ul class="collection">
                  <li class="collection-item"> Votre pseudo : </li>
                  <li class="collection-item"> Votre adresse mail : </li>
                </ul>
                <p> Modifier vos informations <i class="material-icons red-text">mode_edit</i> </p>
              </div>

            </div>
        </div>
        <div class="row"> <!-- Deuxième ligne -->
          <div class="card-panel col s12 m12 l12" class="valign-wrapper"> <!-- Une boîte pour le titre, centrée verticalement -->
                <h5 class="center-align">Vos séries préférées</h5>
          </div>
          <div class="card horizontal col s12 m12 l12" class="valign-wrapper"> <!-- Deuxième boîte pour les séries -->
        </div>

</div>