<div class="parallax-container">
   <div class="parallax"><img src="https://image.tmdb.org/t/p/original/eSzpy96DwBujGFj0xMbXBcGcfxX.jpg"></div>
</div>
<div class="section white">
	<div class="row container">
		<h2 class="header">Breaking Bad</h2>
		<p class="grey-text text-darken-3 lighten-3">Breaking Bad is an American crime drama television series created and produced by Vince Gilligan. Set and produced in Albuquerque, New Mexico, Breaking Bad is the story of Walter White, a struggling high school chemistry teacher who is diagnosed with inoperable lung cancer at the beginning of the series. He turns to a life of crime, producing and selling methamphetamine, in order to secure his family's financial future before he dies, teaming with his former student, Jesse Pinkman. Heavily serialized, the series is known for positioning its characters in seemingly inextricable corners and has been labeled a contemporary western by its creator.</p>
	
	</div>
</div>

<div class="row container section white">
	<div class="col s5">
		<div class="card horizontal">
			<div class="card-image">
				<img src="https://image.tmdb.org/t/p/original/o5131POxv9xFl3wBmdg0YWc9Iz4.jpg">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<h3 class="header">Saison 1</h3>
					<p>High school chemistry teacher Walter White's life is suddenly transformed by a dire medical diagnosis. Street-savvy former student Jesse Pinkman "teaches" Walter a new trade.</p>
					<p>Date de diffusion : 2008-01-09</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col s7">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">Episode 1</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 2</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 3</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 4</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 5</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 6</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 7</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
		</ul>
	</div>
</div>		

<div class="row container section white">
	<div class="col s5">
		<div class="card horizontal">
			<div class="card-image">
				<img src="https://image.tmdb.org/t/p/original/7FwD7IuyHy6xl18LDIRxjl7vDbo.jpg">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<h3 class="header">Saison 2</h3>
					<p>In the second season, Walt must deal with the chain reaction of his choice, as he and Jesse face new and severe consequences. When danger and suspicion around Walt escalate, he is pushed to new levels of desperation. Just how much higher will the stakes rise? How far is Walt willing to go to ensure his family's security? Will his grand plan spiral out of control?</p>
					<p>Date de diffusion : 2008-01-09</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col s7">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">Episode 1</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 2</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 3</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 4</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 5</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 6</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
			<li>
				<div class="collapsible-header">Episode 7</div>
				<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
			</li>
		</ul>
	</div>
</div>	
		
		
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.parallax').parallax();
	});
</script>